body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(197, 22, 174, 0.13);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex: 1;
}

.intro {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(197, 22, 174, 0.13);
  max-width: 800px;
  width: 100%;
}

.profile-photo {
  border-radius: 50%;
  margin-right: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.intro-text {
  max-width: 600px;
}

.about {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(197, 22, 174, 0.13);
  max-width: 800px;
  width: 100%;
  text-align: left;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 10px;
}

.social-links a {
  color: white;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}
